@model ML.Departamento
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Departamento | @ViewBag.Action</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Ingrese los datos necesarios</h5>
        </div>
    </div>

    <hr />

    <div class="row">
       
        @using (Html.BeginForm("Form", "Departamento", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row mb-3">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.IdDepartamento, new { @class = "visually-hidden" })
                    @Html.TextBoxFor(model => model.IdDepartamento, new { @class = "visually-hidden form-control" })
                    @Html.ValidationMessageFor(model => model.IdDepartamento)
                    @*hidden*@
                </div>
            </div>
            <div class="row mb-3">                            
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @onkeypress = "return SoloLetras(event, 'lblNombre')", @onblur = "Empty('lblNombre')"})
                    @Html.ValidationMessageFor(model => model.Nombre)
                    <label id="lblNombre"></label>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Area)
                    @Html.DropDownListFor(model => model.Area.IdArea, new SelectList(Model.Area.Areas, "IdArea", "Nombre"), "Selecciona una opción", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Area)
                </div>                         
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Departamento", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script type="text/javascript">

    function SoloLetras(event, controlId) {
        var letra = event.key;
        var reGex = /^[a-zA-Z ]+$/;

        if (reGex.test(letra)) {
            $('#' + controlId).text("")
            return true
        }
        else {
            $('#' + controlId).text("Solo se permiten letras")
            $('#' + controlId).css({ "color": "red" });

            return false
        }
    }

    function Empty(controlId) {
        var letra = event.key;

        if (!this.value) {
            $('#' + controlId).text("Se necesita llenar este campo")
            $('#' + controlId).css({ "color": "red" });
            return true
        }
        else {
            $('#' + controlId).text("")

            return false
        }
    }
</script>

 

